<div class="">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 mx-auto max-w-7xl lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Photogether</span>
          <%= image_tag "photogether-logo.png", alt: "Photogether Logo", class: "h-12 w-auto" %>
        </a>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#" class="text-base font-semibold text-gray-900">Features</a>
        <a href="#" class="text-base font-semibold text-gray-900">Marketplace</a>
      </div>
    </nav>
  </header>
  <main>
    <div class="px-6 pb-32 mx-auto max-w-7xl pt-36 sm:pt-60 lg:px-8 lg:pt-32">
      <div class="max-w-2xl mx-auto gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center">
        <div class="relative w-full lg:max-w-xl lg:shrink-0 xl:max-w-2xl">
          <h1 class="text-5xl font-extrabold tracking-tight text-gray-900 text-pretty sm:text-7xl">
            <span class="text-primary">Photo</span><span class="text-primary-40">gether</span>
          </h1>
          <p class="mt-8 text-lg text-gray-500 text-pretty sm:max-w-md sm:text-xl/8 lg:max-w-none">구매하기 위해 캡처한 사진, 포토게더를 통해 정리해보세요!</p>
          <div class="flex items-center mt-10 gap-x-6">
            <a href="#" class="px-6 py-4 text-sm font-semibold text-white shadow-sm rounded-3xl bg-primary">시작하기</a>
          </div>
        </div>
        <div class="flex justify-end gap-8 mt-14 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0">
          <div class="flex-none pt-32 ml-auto space-y-8 w-44 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80">
            <div class="relative">
              <img src="<%= asset_path 'landing-item06.jpg' %>" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"/>
              <div class="absolute inset-0 pointer-events-none rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
            </div>
          </div>
          <div class="flex-none mr-auto space-y-8 w-44 sm:mr-0 sm:pt-52 lg:pt-36">
            <div class="relative">
              <img src="<%= asset_path 'landing-item07.jpg' %>" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"/>
              <div class="absolute inset-0 pointer-events-none rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
            </div>
            <div class="relative">
              <img src="<%= asset_path 'landing-item08.jpg' %>" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"/>
              <div class="absolute inset-0 pointer-events-none rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
            </div>
          </div>
          <div class="flex-none pt-32 space-y-8 w-44 sm:pt-0">
            <div class="relative">
              <img src="<%= asset_path 'landing-item09.jpg' %>" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"/>
              <div class="absolute inset-0 pointer-events-none rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
            </div>
            <div class="relative">
              <img src="<%= asset_path 'landing-item10.jpg' %>" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"/>
              <div class="absolute inset-0 pointer-events-none rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<footer class="mt-10">
  <div class="px-6 py-12 mx-auto max-w-7xl md:flex md:items-center md:justify-between lg:px-8">
    <div class="flex justify-center gap-x-6 md:order-2">
      <a href="https://github.com/photogether3" target="_blank" class="text-gray-600 cursor-pointer hover:text-gray-800">
        <span class="sr-only">GitHub</span>
        <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
    <p class="mt-8 text-center text-gray-600 text-sm/6 md:order-1 md:mt-0">&copy; 2025 AZA, Inc. All rights reserved.</p>
  </div>
</footer>
