<div class="flex flex-col h-screen p-5 sm:justify-center sm:items-center sm:p-0">
  <h2 class="text-3xl font-bold">회원가입</h2>
  <br/>
  <div class="w-full sm:w-[500px] sm:border border-gray-200 sm:bg-white sm:rounded-3xl p-4">
    <%= form_with(model: @user, url: users_path, method: :post) do |form| %>
      <div>
        <%= form.label :email_address, "이메일" %>
        <%= form.email_field :email_address %>
      </div>

      <div>
        <%= form.label :password, "비밀번호" %>
        <%= form.password_field :password %>
      </div>

      <div>
        <%= form.label :password_confirmation, "비밀번호 확인" %>
        <%= form.password_field :password_confirmation %>
      </div>

      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.submit "가입" %>
      </div>
    <% end %>
  </div>
</div>