<% id ||= "id" %>
<% data ||= { controller: "", action: "" } %>

<div class="relative w-full bg-gray-200 border-b rounded-t-xl">
  <label 
    for="<%= id %>"
    class="absolute top-0 text-sm text-gray-500 transition-all left-2"
  >
    <%= label ||= "label" %>
  </label>
  <input
    id="<%= id %>"
    type="<%= type ||= "text" %>"
    placeholder="<%= placeholder ||= "placeholder" %>"
    class="peer w-full p-3 mt-3 outline-none focus:border-b-[1.5px] bg-transparent autofill:bg-transparent autofill:shadow-none autofill:text-current" 
    data-controller="<%= data[:controller] %>"
    data-action="<%= data[:action] %>"
  />
</div>