<% modal_anims = @modal_anims ||= 'motion-preset-fade' %>
<div
  id="modal"
  data-controller="modal"
  data-modal-refresh-url-value="<%= local_assigns[:refresh_url] %>"
  data-action="turbo:submit-end->modal#submit"
  class="fixed inset-0 bg-black/50 flex justify-center items-start overflow-y-auto py-10 z-50 <%= modal_anims %>">
  <div class="w-full max-w-xl mx-4 my-auto bg-white shadow-xl rounded-xl">
    <div class="flex items-center justify-between w-full p-6 border-b border-gray-100">
      <div class="text-xl font-bold"><%= title ||= '' %></div>
      <button 
        data-action="click->modal#close" 
        class="p-1 transition rounded-full cursor-pointer hover:bg-gray-100">
        <%= heroicon('x-mark', options: { class: "w-6 h-6 text-gray-600" }) %>
      </button>
    </div>
    <div class="p-6">
      <%= yield %>
    </div>
  </div>
</div>