<%= turbo_frame_tag :category_list do %>
  <div class="w-full overflow-hidden bg-white border border-gray-300 rounded-xl">
    <table class="text-center w-full [&_th,td]:p-2 [&_th]:py-4">
      <thead >
      <tr class="border-b border-gray-300">
        <th>번호</th>
        <th>카테고리명</th>
        <th>생성일</th>
        <th>설정</th>
      </tr>
      </thead>
      <tbody>
      <% if @categories.any? %>
        <% @categories.each_with_index do |category, i| %>
          <tr id="<%= "category_#{category.id}" %>" class="border-b border-gray-300">
            <td><%= (@categories.current_page - 1) * @categories.limit_value + i + 1 %></td>
            <td><%= category.name %></td>
            <td><%= category.created_at.strftime("%Y.%m.%d %H:%M") %></td>
            <td>
              <%= render partial: 'shared/dropdown', locals: {
                title: heroicon("cog-8-tooth", options: { class: "w-5 h-5 text-gray-500" }),
                items: [
                  link_to('수정', edit_admin_category_url(category), data: { 
                    action: 'click->dropdown#select',
                    turbo_frame: 'modal_portal'
                  }),
                  link_to('삭제', admin_category_url(category), data: { 
                    action: 'click->dropdown#select',
                    turbo_frame: 'user_list',
                    turbo_method: :delete,
                    turbo_confirm: "정말 삭제하시겠어요?"
                  }),
                ],
              } %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="5" class="py-6 text-gray-500">카테고리 목록이 없습니다.</td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="p-4">
      <%= render partial: 'shared/pagination', locals: {
        total_pages: @categories.total_pages,
        current_page: @categories.current_page
      } %>
    </div>
  </div>
<% end %>
