<%= form_with model: @user,
              url: @user.persisted? ? admin_user_path(@user) : admin_users_path,
              local: true,
              html: { id: "user_form", class: "flex flex-col gap-4" } do |f| %>
  <% if @user.errors.any? %>
    <div class="p-2 text-xs bg-red-50">
      <% @user.errors.full_messages.each do |msg| %>
        <div>- <%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <%= f.email_field :email_address,
                    placeholder: "이메일",
                    class: "border p-2 rounded-xl" %>

  <%= f.password_field :password,
                        placeholder: "비밀번호",
                        class: "border p-2 rounded-xl" %>

  <%= f.text_field :nickname,
                    placeholder: "닉네임",
                    class: "border p-2 rounded-xl" %>

  <%= f.submit (@user.new_record? ? "생성" : "수정"), class: "p-2 bg-primary rounded-xl text-white cursor-pointer" %>
<% end %>
