<div id="pagination" class="flex justify-between mt-4 [&_button]:cursor-pointer" data-query-target="pagination">
  <% total_pages = @users.total_pages %>
  <% current_page = @users.current_page %>

  <button
    type="button"
    data-action="click->query#goToPage"
    data-page-number="<%= current_page - 1 %>"
    class="flex items-center gap-1 p-2 <%= 'opacity-50' if current_page == 1 %>"
    <%= 'disabled' if current_page == 1 %>>
    <%= heroicon("arrow-left", options: { class: "w-5 h-5 pointer-events-none" }) %>
    이전
  </button>

  <div>
    <% pagination_range(current_page, total_pages).each do |item| %>
      <% if item == "..." %>
        <span class="p-2 px-4 text-gray-400 select-none">...</span>
      <% else %>
        <button
          type="button"
          data-action="click->query#goToPage"
          data-page-number="<%= item %>"
          class="px-4 py-2 rounded-xl <%= 'bg-secondary-40 text-white' if item == current_page %>">
          <%= item %>
        </button>
      <% end %>
    <% end %>
  </div>

  <button
    type="button"
    data-action="click->query#goToPage"
    data-page-number="<%= current_page + 1 %>"
    class="flex items-center gap-1 p-2 <%= 'opacity-50' if current_page >= total_pages %>"
    <%= 'disabled' if current_page >= total_pages %>>
    다음
    <%= heroicon("arrow-right", options: { class: "w-5 h-5 pointer-events-none" }) %>
  </button>

</div>
