<%
  order_list ||= [
    { label: '최신순', value: 'desc' },
    { label: '오래된순', value: 'asc' },
  ]
  order_by_list ||= [
    { label: '생성일', value: 'created_at' }
  ]
%>

<form
  id="user_query_form"
  action="/admin/users"
  data-query-target="form"
  method="get"
  class="flex items-center gap-2">
  <label class="flex gap-2 items-center bg-white border border-gray-300 rounded-xl px-4 h-12">
    <%= heroicon("magnifying-glass", options: { class: "w-5 h-5 text-gray-500" }) %>
    <input
      data-query-target="keyword"
      data-action="keyup->query#search"
      name="keyword"
      placeholder="닉네임 또는 이메일"
      value="<%= params[:keyword] %>"
      class=""/>
  </label>
  <label class="swap bg-white rounded-xl px-4 h-12 border border-gray-300">
    <input type="hidden" name="order" />
    <input type="checkbox" data-action="change->query#changeOrder"
      <%= 'checked' if params[:order] == 'asc' %>/>
    <div class="swap-on" title="최근순">
      <%= heroicon("arrow-long-down", options: { class: "w-5 h-5 text-gray-500" }) %>
    </div>
    <div class="swap-off" title="오래된순">
      <%= heroicon("arrow-long-up", options: { class: "w-5 h-5 text-gray-500" }) %>
    </div>
  </label>
<!--  <div>-->
<!--    <label>-->
<!--      <select-->
<!--        name="order"-->
<!--        data-action="change->query#changeOrder"-->
<!--        class="p-2 border rounded-xl">-->
        <%#= order_list.each do |item| %>
<!--          <option value="<%#= item[:value] %>" <%#= 'selected' if params[:order] == item[:value] %>><%#= item[:label] %></option>-->
        <%# end %>
<!--      </select>-->
<!--    </label>-->
  <label>
    <select
      name="order_by"
      data-action="change->query#changeOrderBy"
      class="p-2 rounded-xl h-12 bg-white border border-gray-300">
      <%= order_by_list.each do |item| %>
        <option value="<%= item[:value] %>" <%= 'selected' if params[:order_by] == item[:value] %>><%= item[:label] %></option>
      <% end %>
    </select>
  </label>
<!--  </div>-->
</form>