<%= turbo_frame_tag :user_list do %>
  <div class="w-full overflow-hidden border rounded-xl">
    <table class="text-center w-full [&_th,td]:p-2">
      <thead class="bg-gray-200">
      <tr class="border-b">
        <th>번호</th>
        <th>닉네임</th>
        <th>이메일</th>
        <th>이메일 인증</th>
        <th>역할</th>
        <th>생성일</th>
        <th>설정</th>
      </tr>
      </thead>
      <tbody>
      <% if @users.any? %>
        <% @users.each_with_index do |user, i| %>
          <tr id="<%= "user_#{user.id}" %>" class="border-b [&:last-child]:border-none">
            <td><%= (@users.current_page - 1) * @users.limit_value + i + 1 %></td>
            <td><%= user.nickname %></td>
            <td><%= user.email_address %></td>
            <td><%= user.is_email_verified %></td>
            <td><%= user.role_id == 1 ? '회원' : '관리자' %></td>
            <td><%= user.created_at.strftime("%Y.%m.%d %H:%M") %></td>
            <td>
              <%= link_to '수정', edit_admin_user_url(user), data: { turbo_frame: 'modal_portal' } %>
              <%= link_to "삭제", admin_user_url(user), data: {
                turbo_frame: 'user_list',
                turbo_method: :delete,
                turbo_confirm: "정말 삭제하시겠어요?" } %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="5" class="py-6 text-gray-500">회원 목록이 없습니다.</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div>
    <%= render partial: 'admin/users/pagination' %>
  </div>
<% end %>
