<tr>
  <td>번호</td>
  <td><%= user[:id] %></td>
  <td><%= user[:nickname] %></td>
  <td><%= user[:email_address] %></td>
  <td><%= user[:is_email_verified] %></td>
  <td><%= user[:created_at] %></td>
  <td>
    <button>수정</button>
    <button>삭제</button>
  </td>
</tr>