<div class="max-w-5xl">
  <div class="flex justify-between">
    <h1>회원 관리</h1>

    <button 
      data-url="/admin/users/new"
      data-action="custom-dialog#open">
      새 회원 생성
    </button>
  </div>

  <br/>

  <form 
    action="/admin/users"
    method="get"
    data-controller="query"
    data-turbo-frame="user_list"
    class="flex justify-between">
    <input
      name="keyword"
      data-action="keyup->query#search"
      type="text"
      class="border"/>

    <div>
      <input 
        type="hidden" 
        name="order" 
        value="<%= params[:order] %>"
        data-query-target="order"/>
      <button 
        data-action="click->query#toggleOrder"
        type="button">
        <%= params[:order] == "asc" ? "오래된순" : "최신순" %>
      </button>

      <select 
        name="order_by" 
        data-action="change->query#changeOrderBy">
        <option value="created_at" <%= "selected" if params[:order_by] == "created_at" %>>생성일</option>
        <option value="nickname"   <%= "selected" if params[:order_by] == "nickname" %>>닉네임</option>
      </select>
    </div>

    <div class="flex gap-4">
      <button 
        type="text" 
        data-page="<%= params[:page] - 1 %>"
        data-action="click->query#movePage">
        이전
      </button>
      <input 
        name="page"
        type="number"
        value="<%= params[:page] %>"
        data-query-target="page"
        class="w-10"
        readonly/>
      <button
        type="text" 
        data-page="<%= params[:page] + 1 %>"
        data-action="click->query#movePage">
        다음
      </button>
    </div>
  </form>

  <br/>
  
  <%= render partial: 'admin/users/user_list', locals: { users: @users } %> 
</div>