<% content_for :page_title, "회원관리 - 포토게더" %>
<% content_for :meta_description, "Photogether 회원 관리 시스템 - 회원 정보 조회, 추가, 수정 및 삭제" %>

<div class="flex flex-col gap-4 motion-custom-fade-in-slide-up" data-controller="query">
  <h1 class="text-3xl font-bold">회원 관리</h1>

  <div class="flex items-center justify-between w-full mt-4">
    <%= render partial: 'shared/query', locals: {
      query_form_id: 'user_query_form',
      query_action: '/admin/users',
      keyword: {
        placeholder: '닉네임 또는 이메일',
      },
      order_by_list: [
        { label: '생성일', value: 'created_at' },
        { label: '닉네임', value: 'nickname' },
        { label: '이메일', value: 'email_address' },
      ]
    } %>

    <div class="flex items-center justify-center gap-2">
      <%= render partial: 'shared/item_total', locals: {
        total_count_id: 'user_total',
        content: '총 회원 수',
        total_count: @users.total_count,
      } %>

      <%= link_to new_admin_user_path,
                  data: { turbo_frame: 'modal_portal' },
                  class: 'h-12 flex items-center justify-center gap-1 bg-primary text-white rounded-xl px-4' do %>
        <%= heroicon("plus", options: { class: "w-5 h-5 text-white" }) %>
        회원 생성
      <% end %>
    </div>
  </div>

  <%= render partial: 'admin/users/user_list' %>
</div>
