<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photogether-Admin</title>

  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="dialog">
  <div class="flex flex-col h-screen">
    <header class="flex items-center justify-start h-16 px-6 text-xl font-bold text-white bg-primary-60">
      포토게더 관리
    </header>
    <main class="flex flex-1 bg-gray-100">
      <aside class="h-full p-2 bg-white border-r border-gray-300 w-52">
        <ul>
          <li><a href="/admin" class="flex items-center justify-center h-10 rounded-lg <%= current_page?(admin_root_path) ? ' bg-secondary-40 text-white' : '' %>">대시보드</a></li>
          <li><a href="/admin/users" class="flex items-center justify-center h-10 rounded-lg <%= current_page?(admin_users_path) ? ' bg-secondary-40 text-white' : '' %>">회원 관리</a></li>
          <li><a href="#" class="flex items-center justify-center h-10 rounded-lg ">카테고리 관리</a></li>
          <li><a href="#" class="flex items-center justify-center h-10 rounded-lg ">게시물 관리</a></li>
        </ul>
      </aside>
      <section class="h-full p-4">
        <%= yield %>
      </section>
    </main>
  </div>

  <div id="dialog" data-dialog-target="dialogContainer"></div>
</body>
</html>