<!DOCTYPE html>
<html lang="ko" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photogether-Admin</title>

  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main class="flex flex-1 h-screen bg-gray-100">
    <aside class="flex-shrink-0 h-full p-2 bg-white border-r border-gray-300 w-60">
      <div class="flex justify-center p-4">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Photogether</span>
          <%= image_tag "photogether-logo.png", alt: "Photogether Logo", class: "h-12 w-auto" %>
        </a>
      </div>
      <ul>
        <li><a href="/admin" class="flex items-center justify-center h-10 rounded-lg <%= current_page?(admin_root_path) ? ' bg-secondary-40 text-white' : '' %>">대시보드</a></li>
        <li><a href="/admin/users" class="flex items-center justify-center h-10 rounded-lg <%= current_page?(admin_users_path) ? ' bg-secondary-40 text-white' : '' %>">회원 관리</a></li>
        <li><a href="/admin/categories" class="flex items-center justify-center h-10 rounded-lg <%= current_page?(admin_categories_path) ? ' bg-secondary-40 text-white' : '' %>">카테고리 관리</a></li>
        <li><a href="#" class="flex items-center justify-center h-10 rounded-lg ">게시물 관리</a></li>
      </ul>
    </aside>
    <section class="w-full h-full">
      <div class="w-full h-full max-w-6xl p-10 border-r-2 border-gray-300 border-dashed min-w-6xl">
        <%= yield %>
      </div>
    </section>
  </main>
  <%= turbo_frame_tag :modal_portal %>
</body>
</html>